.div
	{
		background: #FFFF00;
	}
.inputs_text
	{
		font-size: 15px;
		text-align: center;
		border: black 3px solid;
  		border-radius: 20px;
	}


select
	{
		margin-left: 20px;
		width: 130px;
		height: 25px;
		font-size: 20px;
		border: black 2px solid;
  		border-radius: 20px;
	}

.Enviar
	{
	position: absolute;
	left: 114px;
	color: #000;
	width: 100px;
	height: 30px;
	top: 893px;
	}

h1
	{
		color: #000000;
		text-align: center;
	}
h2
	{
		margin-left: 200px;
		color: #000000;
	} 

h3
	{
		margin-left: 100px;
		color: #000000;
	} 



.Volver
	{
		margin-left: 100px;
		color: #000000;
		font-size: 20px;
	}
.Salir
	{
		position: absolute;
		left: 1200px;
		top: 10px;
		color: #000000;
		font-size: 20px;
	}
